<div>
  <h1>Tem certeza que deseja deletar dados do  colaborador {{nomeColaborador}} ?</h1>
</div>

<mat-card>
  <div>
    <form *ngIf="colaboradorForm"  [formGroup]="colaboradorForm" (ngSubmit)="submit()">

      <mat-form-field>
        <mat-label>Id : </mat-label>
        <input matInput formControlName="Id">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nome : </mat-label>
        <input matInput formControlName="Nome">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Data_nascimento : </mat-label>
        <input matInput formControlName="Data_nascimento">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Cpf : </mat-label>
        <input matInput formControlName="Cpf">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Endereço : </mat-label>
        <input matInput formControlName="Endereco">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Sexo : </mat-label>
        <input matInput formControlName="Sexo">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Telefone : </mat-label>
        <input matInput formControlName="Telefone">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email : </mat-label>
        <input matInput formControlName="Email">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Data_Adimissão : </mat-label>
        <input matInput formControlName="Data_Admissao">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Cargo : </mat-label>
        <input matInput formControlName="Cargo">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Salário : </mat-label>
        <input matInput formControlName="Salario">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Departamento : </mat-label>
        <input matInput formControlName="Departamento">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Status : </mat-label>
        <input matInput formControlName="Status">
      </mat-form-field>

      <div class="btn-box">
        <!-- botao só estara disponivel se usuario digitar todo cadastro -->
        <button
          type="submit"
          mat-raised-button color="accent"
          >
          Deletar Colaborador
        </button>
        <button
          routerLink="/"
          mat-raised-button
          >
          Voltar
        </button>
      </div>

    </form>
  </div>
</mat-card>
