
<!--  PARTE DE BUSCA  -->
<div class="funcionario-box">


  <mat-form-field class="search">
    <mat-label>Procurar : </mat-label>
    <input matInput placeholder="Qual registro esta buscando" (input)="search($event)">
  </mat-form-field>

  <br>

  <!-- cliclou no botao redireciona ao cadastro -->
  <button
    routerLink="cadastro"
    routerLinkActive="router-link-active"
    mat-raised-button
    >
    Cadastrar novo funcionario
  </button>



</div>



<!--   TABELA ONDE FICA OS DADOS  -->
<table class="table">
  <!-- Parte de cima da tabela -->
  <thead>
    <tr>
      <th></th>
      <th>Id</th>
      <th>Nome</th>
      <th>Cargo</th>
      <th>Departamento</th>
    </tr>
  </thead>

  <!-- Corpo da tabela-->
  <tbody *ngFor="let colaborador of colaboradoresList">
    <tr>
       <!--  Dados -->
        <td>

          <!-- usando o ngIf para só mostrar imagem ativo se status estiver true
               senão  vai aparecer o ng template inativo -->
          <div *ngIf="colaborador.status == true; else inativo">
            <img src="assets/images/Ativo.png" alt=""style="height: 20px; width: 20px;">
          </div>

          <ng-template #inativo>
            <img src="assets/images/Inativo.png" alt=""style="height: 20px; width: 20px;">
          </ng-template>

        </td>
        <td>{{colaborador.id}}</td>
        <td>{{colaborador.nome}}</td>
        <td>{{colaborador.cargo}}</td>
        <td>{{colaborador.departamento}}</td>

         <!-- Botões de ação-->
        <td>
          <!-- ao clicar no botao irá ir para a page editar -->
          <button
            [disabled]="colaborador.status == false"
            routerLink="/editarColaborador/{{colaborador.id}}"
            mat-raised-button
            >Editar
          </button>
        </td>

        <td>
          <!-- ao clicar no botao irá ir para a page editar -->
          <button
            routerLink="/detalhesColaborador/{{colaborador.id}}"
            mat-raised-button
          >
            Detalhes
          </button>
        </td>


        <td>
          <button
            routerLink="/deletarColaborador/{{colaborador.id}}"
            mat-raised-button
          >
            Excluir
          </button>
        </td>
    </tr>
  </tbody>
</table>
